<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty scope="context" name="logLevel" source="log.level"/>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%chat：日志消息，%n是换行符-->
            <pattern>%d{yy-MM-dd HH:mm:ss} %r [%p][%c.%M.%L]->%m%n</pattern>
        </encoder>
    </appender>

    <property name="logDir" value="./logs"/>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logDir}/payrollSystem.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${logDir}/payrollSystem_%d{yyyy-M-d}.%i.log</fileNamePattern>
            <maxFileSize>1GB</maxFileSize>
            <maxHistory>5</maxHistory>
            <totalSizeCap>5GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <!--格式化输出：%d表示日期，%p表示日志等级，%c表示日志所在类的全名，%L表示输出代码中的行号，%m表示产生的日志具体信息 ，%n是换行符-->
            <pattern>%d{yy-MM-dd HH:mm:ss} %r [%p][%c.%M.%L]->%m%n</pattern>
        </encoder>
    </appender>

    <logger name="org.springframework" level="ERROR"/>
    <logger name="cn.geek51" level="${logLevel}"/>
    <root level="INFO">
        <!--<appender-ref ref="STDOUT"/>-->
        <appender-ref ref="FILE"/>
    </root>
</configuration>