<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.geek51.test.mapper.WorkOrderMapper">
    <insert id="insertBatch" parameterType="cn.geek51.test.entity.WorkOrderDto">
        insert into work_order(order_uuid,order_number,depart_uuid,product_uuid,color,sku_name,number,process_number,employee_number,money,create_at)
        values
        <foreach collection="orderList" index="index" item="item" separator=",">
            (#{item.orderUuid},#{orderNumber},#{departUuid},#{productUuid},#{color},#{skuName},#{number},#{item.processNumber},#{item.employeeNumber},#{item.money},now())
        </foreach>
    </insert>
    <select id="employeeSalaryList" parameterType="java.util.Map" resultType="cn.geek51.test.entity.EmployeeSalary">
        SELECT employee_number,SUM(money) wage FROM work_order
        <where>
			<if test="@cn.geek51.util.StringUtils@isNotEmpty(qstartTime)">
				AND create_at &gt;= STR_TO_DATE(#{qstartTime},'%Y-%m-%d %H:%i:%s')
			</if>
			<if test="@cn.geek51.util.StringUtils@isNotEmpty(qendTime)">
				AND create_at &lt;= STR_TO_DATE(#{qendTime},'%Y-%m-%d %H:%i:%s')
			</if>
			and deleted = 0
		</where>
		GROUP BY employee_number
    </select>
    <select id="productSalaryList" parameterType="java.util.Map" resultType="cn.geek51.test.entity.ProductSalary">
		SELECT
			t1.product_uuid,
			t2.totalNumber,
			SUM( t1.money ) totalMoney
		FROM
			work_order t1,
			(
			SELECT
				product_uuid,
				SUM( t.number ) totalNumber
			FROM
				(
				SELECT
					GROUP_CONCAT( DISTINCT product_uuid ) AS product_uuid,
					GROUP_CONCAT( DISTINCT depart_uuid ) AS depart_uuid,
					GROUP_CONCAT( DISTINCT number ) AS number
				FROM
					work_order
				<where>
					<if test="@cn.geek51.util.StringUtils@isNotEmpty(qstartTime)">
						AND create_at &gt;= STR_TO_DATE(#{qstartTime},'%Y-%m-%d %H:%i:%s')
					</if>
					<if test="@cn.geek51.util.StringUtils@isNotEmpty(qendTime)">
						AND create_at &lt;= STR_TO_DATE(#{qendTime},'%Y-%m-%d %H:%i:%s')
					</if>
					and deleted = 0
				</where>
				GROUP BY
					product_uuid,
					depart_uuid,
					number
				) t
			GROUP BY
				product_uuid
			) t2
		<where>
			t1.product_uuid = t2.product_uuid
			<if test="@cn.geek51.util.StringUtils@isNotEmpty(qstartTime)">
				AND t1.create_at &gt;= STR_TO_DATE(#{qstartTime},'%Y-%m-%d %H:%i:%s')
			</if>
			<if test="@cn.geek51.util.StringUtils@isNotEmpty(qendTime)">
				AND t1.create_at &lt;= STR_TO_DATE(#{qendTime},'%Y-%m-%d %H:%i:%s')
			</if>
			and t1.deleted = 0
		</where>
		GROUP BY
			t1.product_uuid
    </select>
</mapper>
